@page
@model HangilFA.Pages.Product.GalleryModel


<link rel="stylesheet" href="~/scss/02_company/product.min.css" asp-append-version="true"/>

@{
    ViewData["Index"] = "5";
    ViewData["SubIndex"] = "0";
}

<div style="padding-top:6em;" />

<div class="textct">
    <h3>Gallery</h3>
</div>

<div class="gallery" id="gallery">
    <div class="gallery-item">
        <div class="content watermarked" data-watermark="tjrrudals"><img src="~/images/productgallery/Product_01.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content watermarked" data-watermark="tjrrudals"><img src="~/images/productgallery/Product_02.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_03.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_04.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_05.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_06.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_07.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_08.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_09.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_10.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_11.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_12.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_13.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_14.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_15.png" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/productgallery/Product_16.png" alt=""></div>
    </div>

</div>

<div style="padding-top:6em;" />

<script src="~/js/product.js" asp-append-version="true"></script>

