@page
@model HangilFA.Pages.Support.QuestionsCountOverModel
@{
    ViewData["Index"] = "6";
    ViewData["SubIndex"] = "8";
}

<div style="padding-top:15em;" />

<div style="text-align:center">

    <h4>하루에 등록가능한 페이지수를 넘겼습니다.</h4>

    <a style="margin-top:50px;" asp-page="/Support/Questions">Back to List</a>

</div>