@page
@model HangilFA.Pages.Document.HgfaDocumentModel

@{
    ViewData["Index"] = "6";
    ViewData["SubIndex"] = "0";
}

<div style="padding-top:6em;" />

@*<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div> 
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/hgfahub.js"></script>*@


@*<script>
    function fnMove() {
        //$('html, body').animate({ scrollTop: 200 }, { scrollLeft: 300 }, 0);
        window.scrollTo(0, 300);
        
    }

</script>

<button onclick="fnMove()">이동</button>

<body style="overflow-x:hidden; overflow-y:hidden";>
    <div style="height:2000px;"> </div>
</body>*@